:root {
    {% set varReg = r/^\$[^(\s+(\*|\+|-|\/)\s+)]+\s*$/%}
    {% for compName, compGroup in variables %}
    /* ------------------------ {{compName}} ------------------------ */
    {% for variable in compGroup %}
    {% set rawValue = variable.rawValue %}
    {% set value = ('var(--' + variable.value.slice(1) + ')') if varReg.test(variable.value) else variable.value %}
    {{'--' + variable.name.slice(1)}}: {{
        ('var(--' + rawValue.slice(1) + ', ' + value + ')' if varReg.test(rawValue) else value) | safe
    }};
    {% endfor %}
    {% endfor %}

    /* 兼容0.x */
    --line-0: var(--line-zero);
    --shadow-0: var(--shadow-zero);
    --corner-right-angle: var(--corner-zero);
    --s-0: var(--s-zero);
}
