{% for compName, compGroup in variables %}

// ------------------------ {{compName}} ------------------------ //
{% for variable in compGroup %}
{{variable.name}}: {{variable.value | safe}};
{%- endfor -%}
{% endfor %}